@import url("fonts.css");
@import url("reset.css");


.image-row {
    padding: 20px;
    height:300;
    width:400;
    flex-wrap:wrap;
    display:flex;
    line-height:2;
    margin-top: 50px;
    margin-bottom:50px ;
    margin-left:100px ;
    margin-right:100px;
    justify-content: center;
    gap: 30px;
    border-radius: 20px;
    object-fit: cover;
}

body {
    background-color:aliceblue;
    padding:40px;
    text-align:center;
}

h1 {
     font-family: "Bungee Spice", sans-serif;
     font-weight: 400;
     font-style: normal;
}

h2{
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 600;
    font-style: normal;
    color:blue
      
}

h3 {

   font-family: "Bebas Neue", sans-serif;
   font-weight: 400;
   font-style: normal;
      
}
h4 {

  font-family: "Oi", serif;
  font-weight: 400;
  font-style: normal;
}

footer {
    font-family: "Honk";
   font-weight: 400;
   font-style: normal;
}

p {
    color: rgb(137, 148, 39);
    font-family: "Nabla";
    font-weight: 400;
    font-style: normal; 
}