

@font-face {
    font-family: "Honk";
    src: url(../fonts/Nabla-Regular-VariableFont_EDPT\,EHLT.woff2);
    font-weight: 400;
    font-style: normal;
    font-display:swap;
  }
  
  @font-face {
    font-family: "Honk";
    src: url(../fonts/Honk-Regular-VariableFont_MORF\,SHLN.woff2);
    font-weight: 400;
    font-style: normal;
    font-display:swap;
  }